# goland
.idea
.vscode

# build folder
build

# ssl keys
api.ijia.me.key
api.ijia.me.crt
star.monkeys.team.key
star.monkeys.team.crt

logs.log
fmt

# golang
go.sum

#codecov tmp
coverage.out.tmp
coverage2.out.tmp
cover.html
*.out

config.json

#binary
main-service

config.json

# envs
envs/

# media files
media

#logs
logs.log
