# goland
.idea
.vscode

# build folder
build

# ssl keys
api.ijia.me.key
api.ijia.me.crt

# golang
go.sum

#codecov tmp
coverage.out.tmp
*.out

#binary
main-service

# envs
envs/

# media files
media

#logs
logs.log
