basePath: /api/v1
definitions:
  main.JSON:
    properties:
      body: {}
      status:
        type: integer
    type: object
  main.LoginUser:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
host: api.ijia.me
info:
  contact: {}
  description: API for Drip.
  termsOfService: http://swagger.io/terms/
  title: Drip API
  version: "1.0"
paths:
  /login:
    post:
      consumes:
      - application/json
      description: log in
      parameters:
      - description: data for login
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/main.LoginUser'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/main.JSON'
        "400":
          description: ""
        "404":
          description: ""
        "500":
          description: ""
      summary: LogIn
      tags:
      - login
  /signup:
    post:
      consumes:
      - application/json
      description: registration user
      parameters:
      - description: data for registration
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/main.LoginUser'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/main.JSON'
        "400":
          description: ""
        "404":
          description: ""
        "500":
          description: ""
      summary: SignUp
      tags:
      - registration
securityDefinitions:
  ApiKeyAuth:
    in: header
    name: Set-Cookie
    type: apiKey
swagger: "2.0"
