basePath: /api/v1
definitions:
  main.JSON:
    properties:
      body: {}
      status:
        type: integer
    type: object
  main.LoginUser:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  main.User:
    properties:
      age:
        type: integer
      date:
        type: string
      description:
        type: string
      email:
        type: string
      id:
        type: integer
      imgSrc:
        type: string
      name:
        type: string
      tags:
        items:
          type: string
        type: array
    type: object
host: api.ijia.me
info:
  contact: {}
  description: API for Drip.
  termsOfService: http://swagger.io/terms/
  title: Drip API
  version: "1.0"
paths:
  /login:
    post:
      consumes:
      - application/json
      description: log in
      parameters:
      - description: data for login
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/main.LoginUser'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/main.JSON'
        "400":
          description: ""
        "404":
          description: ""
        "500":
          description: ""
      summary: LogIn
  /nextswipeuser:
    post:
      consumes:
      - application/json
      description: get next user for feed
      parameters:
      - description: data of current user
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/main.User'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/main.JSON'
        "400":
          description: ""
        "404":
          description: ""
        "500":
          description: ""
      summary: NextUser
  /signup:
    post:
      consumes:
      - application/json
      description: registration user
      parameters:
      - description: data for registration
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/main.User'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/main.JSON'
        "400":
          description: ""
        "404":
          description: ""
        "500":
          description: ""
      summary: SignUp
swagger: "2.0"
